* {
  box-sizing: border-box;
  margin: 00;
  padding: 00;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  size: 400px;
  /* font-size: 300px;*/
}
.aa {
  size: 250px;
  font-size: 230px;
  margin: 40px;
  color: aqua;
  color: black;
  margin: 20px;
  
}
